:root {
	--screenWidth: 0px !important;
}

.search {
	.search-nav {
		background-color: #ffffff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
		height: 60px !important;
	}
	.search-input {
		border: none !important;
		width: 100% !important;
		font-size: 21px !important;
	}
	.users-list {
		margin-left: auto !important;
		margin-right: auto !important;
		width: 600px !important;
		height: auto !important;
		max-height: 281px !important;
		box-shadow: 0px 4px 4px #000000 25%;
		border-radius: 7px !important;
		background-color: #ffffff;
		overflow-y: scroll;

		@media screen and (max-width: 649px) {
			margin-left: auto !important;
			margin-right: auto !important;
			width: 80% !important;
			height: auto !important;
			max-height: 281px !important;
			box-shadow: 0px 4px 4px #000000 25%;
			border-radius: 7px !important;
			background-color: #ffffff;
			overflow-y: scroll;
			overflow-x: hidden;
		}
	}
	.users-list-item {
		border: none !important;
		height: 42px !important;
	}
	.user-avatar {
		width: 40px !important;
		height: 40px !important;
		border-radius: 50%;
	}
	.user-avatar-image {
		width: 100% !important;
		height: 100% !important;
		border-radius: 50px !important;
	}
	.search-div {
		.search-div-page {
			height: 100vh;
			background-color: #eeeeee;
			padding-top: 14px !important;
		}
	}
	.search-Row {
		width: 600px !important;
	}
	.search-star {
		padding-right: 7px;
	}
	.search-img {
		left: 13.56%;
		right: 13.56%;
		top: 13.56%;
		bottom: 13.56%;
		width: 100% !important;
		height: 100% !important;
		margin-right: 35px;
	}
	.search-img-div {
		margin-top: 7px;
		width: 17.49px !important;
		height: 17.49px !important;
		cursor: pointer;
	}
	.search-star-col {
		padding-left: 7px !important;
		cursor: pointer;
	}
	.results {
		margin-top: 14px !important;
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		/* identical to box height, or 21px */

		letter-spacing: 0.15px;

		color: #000000;
	}
	.divider-div {
		max-width: 486px !important;
		@media screen and (max-width: 649px) {
			width: var(--screenWidth) !important;
		}
	}
}
