.user {
	.favorite-p {
		padding-left: 11px !important;
		padding-top: 3px !important;
	}
	.search-nav {
		background-color: #ffffff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
		height: 60px !important;
	}
	.search-input {
		border: none !important;
		width: 100% !important;
		font-size: 21px !important;
	}
	.search-img {
		left: 13.56%;
		right: 13.56%;
		top: 13.56%;
		bottom: 13.56%;
		width: 100% !important;
		height: 100% !important;
		margin-right: 35px;
	}
	.search-img-div {
		margin-top: 7px;
		width: 17.49px !important;
		height: 17.49px !important;
	}
	.search-star-col {
		padding-left: 7px !important;
	}
	.search-star {
		padding-right: 7px;
	}
	.search-div {
		.search-div-user {
			height: 100vh !important;
			background-color: #eeeeee;
			padding-top: 14px !important;
		}
	}
	.search-Row {
		width: 600px !important;
	}
	//
	.user-div {
		margin: auto auto auto auto !important;
		width: 600px !important;
		min-height: 183px !important;
		height: auto;
		background: #ffffff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 7px;
		@media screen and (max-width: 649px) {
			width: 80% !important;
		}
	}
	.avatar-div {
		width: 150px !important;
		height: 150px !important;
		@media screen and (max-width: 575px) {
			margin: auto;
		}
	}
	.avatar-img {
		width: 100% !important;
		height: 100% !important;
		margin: 14px !important;
		@media screen and (max-width: 575px) {
			margin: 14px auto auto auto !important;
		}
	}
	.user-name {
		padding-top: 14px !important;
		@media screen and (min-width: 576px) {
			text-align: left;
		}
		@media screen and (max-width: 575px) {
			text-align: center;
		}
	}
	.info-title {
		font-size: 10px !important;
		color: #8d8d8d;
	}
	.info-num {
		font-size: 28px !important;
		margin: 0px;
	}
	.user-name-p {
		font-size: 28px !important;
	}
	.user-info-Row {
		@media screen and (max-width: 575px) {
			margin: auto !important;
		}
	}
	.user-info-col {
		text-align: center;
	}
	.star {
		margin-top: 16.5px;
		margin-right: 16px;
		cursor: pointer;
		@media screen and (max-width: 575px) {
			margin-bottom: 14px !important;
		}
	}
	.user-link {
		color: #8d8d8d;
		cursor: pointer;
	}
}
